<style>
    .background-image {
        width: 100%; /* Div'in genişliği */
        height: 500px; /* Div'in yüksekliği (istediğiniz boyuta göre ayarlayın) */
        background: no-repeat scroll center center;
        background-image: url('/gallery_gen/mainLogoNoBack.png');
        background-size: 1100px;
        content: "";
        width: 100%;
        height: 100%;
    }

    ul {
        list-style-type: none; /* Liste işaretlerini kaldırır */
        padding: 0; /* İç boşluğu sıfırlar */
        margin: 0; /* Dış boşluğu sıfırlar */
    }

    .background-image::after {
        content: '';
        background-color: rgba(255, 255, 255, 0.1); /* Beyaz rengin 0.1 opaklığı */
        pointer-events: none; /* Fare olaylarını engellemek için */
    }
</style>
<div style="    display: flex; align-items: center;justify-content: space-evenly;padding-bottom:20px;background-color:#ece4d4">

    <div class="background-imagae" style="background-color:#ece4d4; max-width: 1300px;  border-radius: 52px;">
        <div>
            <div id="a19146dfb8af0027d4d1dcd3d7d49553" class="wb_element wb_text_element background-image" data-plugin="TextArea" style=" line-height: normal; ">
                <div id="a19146dfb8af0027d4d1dcd3d7d49553" class="wb_element wb_text_element background-image" data-plugin="TextArea" style=" line-height: normal; ">
                    <h4 class="wb-stl-pagetitle" style="margin: 0cm 0cm 8pt;"><span style="font-size:16px;"><strong><span style="color:black;"><span style="line-height:107%"><span style="font-family:Aptos,sans-serif">Hayatınızın en özel anını unutulmaz kılmak için buradayız!</span></span></span></strong></span></h4>

                    <h4 class="wb-stl-pagetitle" style="margin: 0cm 0cm 8pt;"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:107%"><span style="font-family:Aptos,sans-serif">NVA Organizasyon, 20 yılı aşkın sektör tecrübesini çiçeği burnunda çiftlerimizin heyecanı ile birleştirmek için çıktığı yolda, 
                        nızda yanı başınızda olacak profesyonel bir ekibe sahip..</span></span></span></span></h4>

                    <h4 class="wb-stl-pagetitle" style="margin: 0cm 0cm 8pt;"><font color="black" face="Aptos, sans-serif"><span style="font-size: 16px;"><b>MİSYONUMUZ</b></span></font></h4>

                    <h4 class="wb-stl-pagetitle" style="margin: 0cm 0cm 8pt;"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:107%"><span style="font-family:Aptos,sans-serif">Misyonumuz, her çiftin kendine özgü hikayesini ve tarzını yansıtan eşsiz düğünlerde, mekan seçiminden düğün konseptine; menü detaylarından süslemeye tüm detaylarda <b>nedimenizin</b> yanı başınızda olmasıdır. Mükemmel organizasyonlar ve kişiselleştirilmiş detaylarla dolu bir deneyim sunmak için çalışırken sizin tek yapmanız gereken neyi beğendiğinize karar vermek.</span></span></span></span></h4>

                    <h4 class="wb-stl-pagetitle" style="margin: 0cm 0cm 8pt;"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:107%"><span style="font-family:Aptos,sans-serif"><b>VİZYONUMUZ</b></span></span></span></span></h4>

                    <h4 class="wb-stl-pagetitle" style="margin: 0cm 0cm 8pt;"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:107%"><span style="font-family:Aptos,sans-serif">Vizyonumuz, düğün organizasyonunda öncü ve yenilikçi bir firma olarak sektörde fark yaratmak ve misafir memnuniyetini en üst düzeyde tutarken, hayalinizdeki masalı size yaşatmaktır.</span></span></span></span></h4>

                    <h4 class="wb-stl-pagetitle" style="margin: 0cm 0cm 8pt;"><span style="font-size:16px;"><strong><span style="color:black;"><span style="line-height:107%"><span style="font-family:Aptos,sans-serif">NELER YAPIYORUZ?</span></span></span></strong></span></h4>

                    <ul>
                        <li style="margin:0cm 0cm 8pt">
                            <h4 class="wb-stl-pagetitle"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:107%"><span style="font-family:Aptos,sans-serif"><b><u>Planlama ve Koordinasyon</u>:</b> Düğün gününüzün her aşamasını planlıyor ve koordine ediyoruz. İlk görüşmeden itibaren yanınızda olup tüm detaylarla birebir ilgileniyoruz. </span></span></span></span></h4>
                        </li>
                        <li style="margin:0cm 0cm 8pt">
                            <h4 class="wb-stl-pagetitle"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:107%"><span style="font-family:Aptos,sans-serif"><u><b>Mekan Seçimi:</b></u> Tarzınıza ve bütçenize en uygun mekanları bulup, hayalinizdeki atmosferi yaratıyoruz.</span></span></span></span></h4>
                        </li>
                        <li style="margin:0cm 0cm 8pt">
                            <h4 class="wb-stl-pagetitle"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:107%"><span style="font-family:Aptos,sans-serif"><u><b>Dekorasyon ve Temalar:</b></u> Düğün temanızı belirliyor ve mekanın dekorasyonunun en ince ayrıntısına kadar özenle hayalinizdeki gibi tasarlanmasını sağlıyoruz.</span></span></span></span></h4>
                        </li>
                        <li style="margin:0cm 0cm 8pt">
                            <h4 class="wb-stl-pagetitle"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:107%"><span style="font-family:Aptos,sans-serif"><u><b>Menü Seçimi:</b> </u>Mekanlarda yapılacak menü tadımlarında siz değerli çiftlerimizin yanında oluyor, kendi düğün menümüzü tadıyormuş gibi değerlendiriyoruz.</span></span></span></span></h4>
                        </li>
                        <li style="margin:0cm 0cm 8pt">
                            <h4 class="wb-stl-pagetitle"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:107%"><span style="font-family:Aptos,sans-serif"><b><u>Eğlence ve Müzik:</u> </b>Düğününüzü unutulmaz kılacak belki de en unutulmaz detay olan eğlence&amp;müzik aşamasında, profesyonel DJ’ler, müzisyenler ve eğlence seçenekleriyle dolu tedarikçi firmalarımızı seçiminize sunuyor görüşmelerinizi organize ediyoruz.</span></span></span></span></h4>
                        </li>
                        <li style="margin:0cm 0cm 8pt">
                            <h4 class="wb-stl-pagetitle"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:107%"><span style="font-family:Aptos,sans-serif"><u><b>Fotoğraf ve Video:</b></u> Anılarınızı ölümsüzleştirmek için profesyonel fotoğraf ve video hizmetlerine ilişkin alternatif firmalar sunuyoruz.</span></span></span></span></h4>
                        </li>
                    </ul>

                    <h4 class="wb-stl-pagetitle" style="margin: 0cm 0cm 8pt;"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:107%"><span style="font-family:Aptos,sans-serif"><b>DEĞERLERİMİZ</b></span></span></span></span></h4>

                    <ul>
                        <li style="margin:0cm 0cm 8pt">
                            <h4 class="wb-stl-pagetitle"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:107%"><span style="font-family:Aptos,sans-serif"><b>Misafir Memnuniyeti İlkelerimiz:</b></span></span></span></span></h4>
                        </li>
                        <li style="margin:0cm 0cm 8pt">
                            <h4 class="wb-stl-pagetitle"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:normal"><span style="font-family:Aptos,sans-serif"><u><b>Kişisel İlgilenme:</b> </u>Her çiftin benzersiz olduğunu biliyoruz. Bu yüzden her misafirmizle birebir ilgilenir, onların istek ve ihtiyaçlarını anlamak için özen gösteririz.</span></span></span></span></h4>
                        </li>
                        <li style="margin:0cm 0cm 8pt">
                            <h4 class="wb-stl-pagetitle"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:normal"><span style="font-family:Aptos,sans-serif"><strong><u>Şeffaf İletişim:</u></strong> Her aşamada sizleri bilgilendirir ve herhangi bir sorunuz olduğunda dilediğiniz zaman diliminde yanıtlamaya hazır oluruz.</span></span></span></span></h4>
                        </li>
                        <li style="margin:0cm 0cm 8pt">
                            <h4 class="wb-stl-pagetitle"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:normal"><span style="font-family:Aptos,sans-serif"><u><strong>Esneklik ve Uyumluluk: </strong></u>Beklentilerinize ve bütçenize en uygun alternatifleri sunarız. İstediğiniz değişikliklere esnek bir şekilde uyum sağlarız.</span></span></span></span></h4>
                        </li>
                        <li style="margin:0cm 0cm 8pt">
                            <h4 class="wb-stl-pagetitle"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:normal"><span style="font-family:Aptos,sans-serif"><strong><u>Kaliteli Hizmet: </u></strong>En yüksek standartlarda hizmet sunmak için çalışırız. Her detayın kusursuz olmasını sağlamak için size özel nedimeniz her an yanınızdadır.</span></span></span></span></h4>
                        </li>
                        <li style="margin:0cm 0cm 8pt">
                            <h4 class="wb-stl-pagetitle"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:normal"><span style="font-family:Aptos,sans-serif"><strong><u>Geribildirim ve İyileştirme:</u></strong> Düğün sonrası geri bildirimlerinizi dikkatle dinleriz ve hizmetlerimizi sürekli olarak iyileştirmek için kullanırız.</span></span></span></span></h4>
                        </li>
                        <li style="margin:0cm 0cm 8pt">
                            <h4 class="wb-stl-pagetitle"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:107%"><span style="font-family:Aptos,sans-serif"><u><strong>Yaratıcılık:</strong></u> Her düğünü benzersiz kılmak için yaratıcı ve yenilikçi çözüm ortakları ile çalışırız.</span></span></span></span></h4>
                        </li>
                        <li style="margin:0cm 0cm 8pt">
                            <h4 class="wb-stl-pagetitle"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:107%"><span style="font-family:Aptos,sans-serif"><strong><u>Profesyonellik: </u></strong>Deneyimli ekibimizle her zaman profesyonel ve güvenilir hizmet sunarız.</span></span></span></span></h4>
                        </li>
                        <li style="margin:0cm 0cm 8pt">
                            <h4 class="wb-stl-pagetitle"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:107%"><span style="font-family:Aptos,sans-serif"><strong><u>Detaylara Özen:</u></strong> Küçük ayrıntıların büyük farklar yarattığını biliriz ve her detayı titizlikle ele alırız. İlk görüşmemizden itibaren masal gecenin sonuna kadar her anınıza yıldız tozları serpiyoruz.</span></span></span></span></h4>
                        </li>
                    </ul>

                    <h4 class="wb-stl-pagetitle" style="margin: 0cm 0cm 8pt;"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:107%"><span style="font-family:Aptos,sans-serif">Hayallerinizdeki düğünü gerçeğe dönüştürmek için bizimle iletişime geçin. Size en güzel anılarınızı yaşatmak için sabırsızlanıyoruz! :)</span></span></span></span></h4>

                    <h4 class="wb-stl-pagetitle" style="margin: 0cm 0cm 8pt;"><span style="font-size:16px;"><span style="color:black;"><span style="line-height:107%"><span style="font-family:Aptos,sans-serif"><b>Nedimenizle tanışmak için iletişime geçin;&nbsp;</b></span></span></span></span></h4>

                    <h4 class="wb-stl-pagetitle" style="margin-top: 10pt; margin-bottom: 0pt; margin-left: 0in; text-align: left;"><span style="language:tr"><span style="line-height:90%"><span style="unicode-bidi:embed"><span style="word-break:normal"><span style="punctuation-wrap:hanging"><span style="font-size:20.0pt"><span style="font-family:Aptos"><span style="color:#7f7f7f"><span style="language:tr">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Telefon&nbsp; : +90 554 663 0125</span></span></span></span></span></span></span></span></span></h4>

                    <p style="margin-top:10.0pt; margin-bottom:0pt; margin-left:0in; text-align:left"><span style="language:tr"><span style="line-height:90%"><span style="unicode-bidi:embed"><span style="word-break:normal"><span style="punctuation-wrap:hanging"><span style="font-size:20.0pt"><span style="font-family:Aptos"><span style="color:#7f7f7f"><span style="language:tr">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-posta&nbsp; : </span></span><span style="color:#467886"><span style="language:tr"><a href="" data-popup-processed="true">vildan@dugundeyiz.com.tr</a></span></span></span></span> </span></span></span></span></span></p>

                    <p>&nbsp;</p>

                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>