<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <title>@ViewData["Title"] - Dugundeyiz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/mainStyles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Dugundeyiz.styles.css" asp-append-version="true" />
    <style>
        .menu-navbar-items {
            display: inline-flex !important;
            align-items: center;
            
        }

        #menu-item {
            position: relative; /* Alt menüyü doğru konumlandırmak için */
        }

        #submenu {
            position: absolute; /* Menü item'ine göre hizalanması için */
            z-index: 1000; /* Üstte görünmesi için */
            top: 100%; /* Menü öğesinin hemen altında açılmasını sağlar */
            left: 0;
            background-color: white !important;
            border-radius: 19px !important;
            max-width: 85% !important;
            border: solid 2px orange !important;
        }
        
        .menu-navbar-item-text{
            padding: 10px 20px 10px 20px;
            padding-left: 0px;
            border: 0 none #000;
            font-style: normal;
            font: normal bold 16px 'Cormorant', Arial, serif;
            font-family: 'Cormorant', Arial, serif;
            color: #000;
            text-decoration: none;
            line-height: 20px;
            text-transform: none;
            background: #fff0 none repeat left top;
        }
        .submenuSpecial{
            position: absolute; /* Menü item'ine göre hizalanması için */
            z-index: 1000; /* Üstte görünmesi için */
            top: 100%; /* Menü öğesinin hemen altında açılmasını sağlar */
            left: 0;
            background-color: white;
            border-radius: 20px;
            max-width: 85%;
        }
        .imgBeforeMenuText{
            height:50px;
        }
        .hmenu{
            display: inline-flex;
            align-items: center;
            justify-content: space-evenly;
        }     
        .loginPartNavbar{
            margin-top: 10px;
            display: flex;
            flex-direction: row-reverse;
            max-width: 90%;
        }

        .nav-tabs {
            border-bottom: none;
            font-weight: bold;
            justify-content: center; /* Centers the tabs horizontally */
            display: flex;
            margin-bottom: -1px; /* Ensures the tab content aligns right below the tabs */
        }

            .nav-tabs .nav-link {
                background-color: #f1f1f1;
                border: 1px solid #ddd;
                border-radius: 8px 8px 0 0;
                padding: 10px 20px;
                color: #007bff;
                transition: background-color 0.3s ease;
            }

                .nav-tabs .nav-link.active {
                    background-color: #fff;
                    border-bottom: none;
                    color: #007bff;
                }

        .tab-content > .tab-pane {
        display:none !important ;
        }

            .tab-content > .active {
        display:block !important ;
        }
        .tab-content {
            width: 32%; /* Ensures the tab content aligns to full width */
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #fff;
            margin-top: -1px; /* This will remove the gap between tabs and the content */
            max-width: 400px; /* Limit width for more compact, modern design */
            margin-left: auto;
            margin-right: auto; /* Center the form below the tabs */
        }

        h5 {
            font-size: 18px;
            font-weight: bold;
        }

        .input-group-text {
            background-color: #007bff;
            color: white;
            border-radius: 5px 0 0 5px;
            border: none;
        }

        .form-control {
            border-radius: 0 5px 5px 0;
            border: 1px solid #007bff;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }

    </style>
</head>

<body>
  <header>
        <div class="container-fluid" style="background-color: #000000;">
            <div class="row">
                <div class="col-md-3 col-sm-12 d-flex justify-content-center align-items-center">
                    <div class="wb-picture-wrapper" style="max-width:100%; text-align: center;">
                        <a href="/" alt="Anasayfa" title="Ana Sayfa">
                            <img alt="" class="img-fluid" style="max-width: 100%;" src="~/gallery_gen/9083b7c7928be35a8b456af9f402d5b5_542x542_fit.png?ts=1723818424">
                        </a>
                    </div>
                </div>

                <div class="col-md-9 col-sm-12">
                    <div class="row d-flex justify-content-center align-items-center" style="min-height:300px">
                        <h4 class="wb-stl-custom5" style="text-align: center;">BU ALAN SİZİN İÇİN AYRILMIŞTIR.</h4>
                    </div>
                    <div class="row d-flex justify-content-center align-items-center">
                        <div id="a191279ef45700604ebc65511671a891" class="row wb_element wb-layout-element">
                            <div class="wb_content wb-layout-horizontal">
                                <div id="a191279cc01800f8623ea93fa51d753a" class="wb_element wb-menu wb-prevent-layout-click wb-menu-mobile" style="">
                                    <a class="btn btn-default btn-collapser"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
                                    <ul class="hmenu" dir="ltr" style="border-radius: 10px;max-width: 90% !important;">
                                        <li id="menu-item" class="menu-navbar-items">
                                            <img class="imgBeforeMenuText" src="~/gallery_gen/LogoWhiteBG.png">
                                            <a style="padding-left: 0px; cursor: pointer;" class="menu-navbar-item-text">Düğün Mekanları</a>
                                            <ul id="submenu" class="submenuSpecial" style="display: none; padding-left: 20px; position: absolute; z-index: 1000;">
                                                <li><a href="#">Otel</a></li>
                                                <li><a href="#">Tarihi Yerler</a></li>
                                                <li><a href="#">Orman</a></li>
                                                <li><a href="#">Orman</a></li>
                                                <li><a href="#">Orman</a></li>
                                                <li><a href="#">Orman</a></li>
                                                <li><a href="#">Orman</a></li>
                                                <li><a href="#">Orman</a></li>
                                                <li><a href="#">Orman</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-navbar-items"><img class="imgBeforeMenuText" src="~/gallery_gen/LogoWhiteBG.png"><a href="Çözüm-Ortakları/" class="menu-navbar-item-text">Çözüm Ortakları</a></li>
                                        <li class="menu-navbar-items"><img class="imgBeforeMenuText" src="~/gallery_gen/LogoWhiteBG.png"><a href="İndirimler/" class="menu-navbar-item-text">Kampanyalar</a></li>
                                        <li class="menu-navbar-items"><img class="imgBeforeMenuText" src="~/gallery_gen/LogoWhiteBG.png"><a href="Düğün-Asistanınız/" class="menu-navbar-item-text">Nedimeniz</a></li>
                                        <li class="menu-navbar-items"><img class="imgBeforeMenuText" src="~/gallery_gen/LogoWhiteBG.png"><a href="Hakkımızda/" class="menu-navbar-item-text">Hakkımızda</a></li>
                                        <li class="menu-navbar-items"><img class="imgBeforeMenuText" src="~/gallery_gen/LogoWhiteBG.png"><a href="İletişim-1/" class="menu-navbar-item-text">İletişim</a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div style="width: 90%;margin-top: 10px;display: grid;justify-items: end;display: flex;flex-direction: row-reverse;">
                                <!-- Chrome-like Tab Navigation -->
                                <ul class="nav nav-tabs justify-content-center" id="loginTab" role="tablist" >
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" id="member-tab" data-toggle="tab" href="#memberForm" role="tab" aria-controls="memberForm" aria-selected="true">
                                            Üyelerimize Özel
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="partner-tab" data-toggle="tab" href="#partnerForm" role="tab" aria-controls="partnerForm" aria-selected="false">
                                            Çözüm Ortaklarımıza Özel
                                        </a>
                                    </li>
                                </ul>
                                </div>
                            <div style=" width: 90%; display: flex; flex-direction: row-reverse;">
                            <div style="">
                                <!-- Tab Content -->
                                    <div class="tab-content" id="loginTabContent" style="    width: max-content;    width: 372px;">
                                    <!-- Üyelerimize Özel Form -->
                                    <div class="tab-pane fade  " id="memberForm" role="tabpanel" aria-labelledby="member-tab">
                                        <h5>Üyelerimize Özel Giriş</h5>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                            <input type="text" class="form-control" placeholder="Kullanıcı Adı">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                            <input type="password" class="form-control" placeholder="Şifre">
                                        </div>
                                        <a href="#" class="text-primary">Şifremi Unuttum</a> <br>
                                        <a href="#" class="text-primary">Üye Ol</a>
                                    </div>

                                    <!-- Çözüm Ortaklarımıza Özel Form -->
                                    <div class="tab-pane fade" id="partnerForm" role="tabpanel" aria-labelledby="partner-tab">
                                        <h5>Çözüm Ortaklarımıza Özel Giriş</h5>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                                            <input type="text" class="form-control" placeholder="Kullanıcı Adı">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                            <input type="password" class="form-control" placeholder="Şifre">
                                        </div>
                                        <a href="#" class="text-primary">Şifremi Unuttum</a> <br>
                                        <a href="#" class="text-primary">Çözüm Ortaklarımıza Katıl</a>
                                    </div>
                                </div>
                            </div>
                            </div>

                        </div>
                        </div>
                        


                        <div id="a19127955f7600b1fd5898bf7b98eb4b" class="wb_element wb-layout-element">
                            <div class="wb_content wb-layout-horizontal"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </header>
    <div class="">
        <main role="main" class=""> 
            @RenderBody()
      </main>
    </div>

    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
                        <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
                        <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
                        <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
                        <li><a href="http://scanfcode.com/category/android/">Android</a></li>
                        <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/about/">About Us</a></li>
                        <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                        <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                        <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                        <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">
                        Copyright &copy; 2024 All Rights Reserved by
                        <a href="/">Düğündeyiz</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="/"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="/"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="/"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
    <script>
        // JavaScript to control visibility of the tab content based on active tab
        document.addEventListener('DOMContentLoaded', function () {
            var tabs = document.querySelectorAll('.nav-link');
            var tabContent = document.getElementById('loginTabContent');

            // Hide tabContent if no active tab
            function checkActiveTab() {
                var activePane = document.querySelector('.tab-pane.active');
                if (activePane) {
                    tabContent.style.display = 'block';
                } else {
                    tabContent.style.display = 'none';
                }
            }

            // Add click event listeners to each tab link
            tabs.forEach(function (tab) {
                tab.addEventListener('click', function () {
                    setTimeout(checkActiveTab, 150); // Delay to wait for Bootstrap's tab transition
                });
            });

            // Initial check on page load
            checkActiveTab();
        });

        document.getElementById('partnerButton').addEventListener('click', function () {
            document.getElementById('partnerForm').style.display = 'block';
            document.getElementById('memberForm').style.display = 'none';
        });

        document.getElementById('memberButton').addEventListener('click', function () {
            document.getElementById('memberForm').style.display = 'block';
            document.getElementById('partnerForm').style.display = 'none';
        });
        function toggleSubmenu() {
            var submenu = document.getElementById("submenu");
            if (submenu.style.display === "none") {
                submenu.style.display = "block";
            } else {
                submenu.style.display = "none";
            }
        }
            // Alt menüyü aç
            document.getElementById("menu-item").addEventListener("mouseover", function () {
                document.getElementById("submenu").style.display = "block";
            });

        document.getElementById("submenu").addEventListener("mouseover", function () {
            document.getElementById("submenu").style.display = "block";
        });

        // Alt menü ve menu-item dışına çıkıldığında menüyü kapat
        function closeMenu(event) {
            var menuItem = document.getElementById("menu-item");
            var submenu = document.getElementById("submenu");

            // Eğer fare hem menu-item hem de submenu dışına çıkarsa menüyü kapat
            if (!menuItem.contains(event.relatedTarget) && !submenu.contains(event.relatedTarget)) {
                submenu.style.display = "none";
            }
        }

        // menu-item dışına çıkıldığında kontrol
        document.getElementById("menu-item").addEventListener("mouseleave", closeMenu);

        // submenu dışına çıkıldığında kontrol
        document.getElementById("submenu").addEventListener("mouseleave", closeMenu);

    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/mainjs.js"></script>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
