<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <title>@ViewData["Title"] - Dugundeyiz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/mainStyles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Dugundeyiz.styles.css" asp-append-version="true" />
    <style>
        .menu-navbar-items {
            display: ruby;
        }
    </style>
</head>

<body>
  <header>
        <div id="wb_header_a188dd9a34dc00a2ba561675c7f83454" class="wb_element wb-layout-element" data-plugin="LayoutElement">
            <div class="wb_content wb-layout-vertical">
                <div id="a1912793ec6200afa4b19003c8776239" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                    <div class="wb_content wb-layout-horizontal">
                        <div id="a188dd9a221202a70bee5827a1ca8d2d" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                            <div class="wb_content wb-layout-vertical">
                                <div id="a19127954ad1000ec9169de1697f57fa" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                    <div class="wb_content wb-layout-horizontal">
                                        <div id="a190fa09895f0047921630f38e5c60b3" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                            <div class="wb_content wb-layout-horizontal">
                                                <div id="a19127596645002ee52411921be6846c" class="wb_element wb_element_picture" data-plugin="Picture" title="">
                                                    <div class="wb_picture_wrap">
                                                        <div class="wb-picture-wrapper"><a href="" alt="Anasayfa" title="Ana Sayfa"  data-popup-processed="true"><img alt="" src="gallery_gen/9083b7c7928be35a8b456af9f402d5b5_542x542_fit.png?ts=1723818424"></a></div>
                                                    </div>
                                                </div>
                                                <div id="a191276deb63009e09c6093bb4259910" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                                    <div class="wb_content wb-layout-vertical">
                                                        <div id="a191276a4bab00b3ac6d3f670ae2a59c" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;">
                                                            <h4 class="wb-stl-custom5" style="text-align: center;">BU ALAN SİZİN İÇİN AYRILMIŞTIR.</h4>
                                                        </div>
                                                        <div id="a191279ef45700604ebc65511671a891" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                                            <div class="wb_content wb-layout-horizontal">
                                                                <div id="a191279cc01800f8623ea93fa51d753a" class="wb_element wb-menu wb-prevent-layout-click wb-anim wb-anim-zoom-in wb-menu-mobile" data-plugin="Menu">
                                                                    <a class="btn btn-default btn-collapser" data-popup-processed="true"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
                                                                    <ul class="hmenu" dir="ltr" style="top: 501px; max-height: calc(-501px + 98vh); left: 20px; right: 20px; width: auto;    border-radius: 10px;">
                                                                        <li style="display: ruby;    text-wrap: nowrap;" class="menu-navbar-items"><img height="70px" src="gallery_gen/LogoWhiteBG.png"><a style="padding-left: 0px;" href="Düğün-Mekanları/" data-popup-processed="true">Düğün Mekanları</a></li>
                                                                        <li style="display: ruby;    text-wrap: nowrap;" class="menu-navbar-items"><img height="70px" src="gallery_gen/LogoWhiteBG.png"><a style="padding-left: 0px;" href="Çözüm-Ortakları/" data-popup-processed="true">Çözüm Ortakları</a></li>
                                                                        <li style="display: ruby;    text-wrap: nowrap;" class="menu-navbar-items"><img height="70px" src="gallery_gen/LogoWhiteBG.png"><a style="padding-left: 0px;" href="İndirimler/" data-popup-processed="true">Kampanyalar</a></li>
                                                                        <li style="display: ruby;    text-wrap: nowrap;" class="menu-navbar-items"><img height="70px" src="gallery_gen/LogoWhiteBG.png"><a style="padding-left: 0px;" href="Düğün-Asistanınız/" data-popup-processed="true">Nedimeniz</a></li>
                                                                        <li style="display: ruby;    text-wrap: nowrap;" class="menu-navbar-items"><img height="70px" src="gallery_gen/LogoWhiteBG.png"><a style="padding-left: 0px;" href="Hakkımızda/" data-popup-processed="true">Hakkımızda</a></li>
                                                                        <li style="display: ruby;    text-wrap: nowrap;" class="menu-navbar-items"><img height="70px" src="gallery_gen/LogoWhiteBG.png"><a style="padding-left: 0px;" href="İletişim-1/" data-popup-processed="true">İletişim</a></li>
                                                                    </ul>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="a19127955f7600b1fd5898bf7b98eb4b" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                    <div class="wb_content wb-layout-horizontal"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="">
        <main role="main" class=""> 
            @RenderBody()
      </main>
    </div> 

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Dugundeyiz - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/mainjs.js"></script>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
